body {
  font-family: Arial, sans-serif;
  background-color: #242424;
  color: white;
  padding: 2rem;
}

form {
  margin-bottom: 2rem;
  border-bottom: 1px solid #444;
  padding-bottom: 2rem;
}

div {
  margin-bottom: 1rem;
}

label {
  display: block;
}

input {
  display: block;
  margin-top: 0.5rem;
  padding: 8px;
  width: 300px;
}

button {
  margin-top: 1rem;
  cursor: pointer;
}